<?xml version="1.0"?>
<launch>

  <!-- jetbot waveshare gamepad driver -->
  <node pkg="joy" type="joy_node" name="joy" >
    <param name="dev_name" value="Logitech Gamepad F710" />
    <param name="deadzone" value="0.05" />
    <param name="autorepeat_rate" value="40" />
    <param name="coalesce_interval" value="0.025" />
  </node>

  <!-- subscribe to joy topic and publishes Twist msg to cmd_vel topic -->
  <node pkg="pablowsky_teleop" type="gamepad_teleop.py" name="gamepad_teleop" />

</launch>
